<div class="col-sm-8 blog-main">

    <div class="blog-post">
        <p id="articleID" hidden><%= articleID %></p>
        <h2 class="blog-post-title" id="blog-post-title"><%= post_title %><br></h2>
        <p class="blog-post-meta" id="blog-post-meta" ><%= post_meta %></p>

        <p><input type="text" class="form-control" id="blog-post-description" value="<%= post_description %>" /></p>
        <hr>
        <textarea id="content" rows="10" cols="80"><%= post_content %></textarea>
        <br/>
        <button class="btn btn-primary" onclick="submitArticle()">發表文章</button>
    </div><!-- /.blog-post -->

    <script src="https://cdn.ckeditor.com/4.7.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace( 'content', {});
    </script>
    <script>
        function submitArticle() {

            var article =   {
                articleID : $('#articleID').text(),
                title: $('#blog-post-title').text(),
                meta: $('#blog-post-meta').text(),
                description: $('#blog-post-description').val(),
                // CKEDITOR 裡面的資料 , 需要用以下特殊手法取得
                content: CKEDITOR.instances['content'].getData()
            };

            console.log( article );

            jQuery.ajax({
                url: '../update',
                type: 'GET',
                data: {article:article} ,
                error: function(xhr) {
                    alert('更新失敗!');
                },
                success: function(response) {
                    window.location.href = response.redirect;
                }
            });
        }
    </script>

</div><!-- /.blog-main -->

