<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Andrew Blog - <%= title%></title>
</head>

<body>

    <%- include component/nav.component.html %>
    <%- include component/blog-header.ejs %>


    <div class="container">

        <div class="row">
            <%- include component/blog-main-add.ejs %>
            <%- include component/blog-sideBar.ejs %>
        </div><!-- /.row -->

    </div><!-- /.container -->

    <%- include component/blog-footer.ejs %>

</body>
</html>
