<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Andrew Blog - <%= title%></title>
</head>

<body>

    <%- include component/nav.component.html %>
    <%- include component/blog-header.ejs %>
    <%- include component/blog-body.ejs %>
    <%- include component/blog-footer.ejs %>

</body>
</html>
